
.login .form-row input {
  padding: 8px;
  padding-right: 8px;
  width: 100%;
  box-sizing: border-box;
}

.login .submit-row {
  display: flex;
  flex-direction: column;
}
  
#id_otp {
    padding-left: 15px;
    letter-spacing: 42px;
    border: 0;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-position-x: center;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 270px;
    outline: none;
}
  
.buttons-grid > input + input {
    margin-top: 1rem;
  }
  
  
.buttons-grid > script + input {
    margin-top: 1rem;
  }



/*OTP*/ 


  .otp-field {
    display: flex;
  }
  .otp-field input {
    width: 24px;
    font-size: 32px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 2px;
    border: 2px solid #55525c;
    background: #21232d;
    font-weight: bold;
    color: #fff;
    outline: none;
    transition: all 0.1s;
  }
  .otp-field input:focus {
    border: 2px solid #a527ff;
    box-shadow: 0 0 2px 2px #a527ff6a;
  }
  .disabled {
    opacity: 0.5;
  }
  .space {
    margin-right: 1rem !important;
  }