{% extends "passkeys/base.html" %}
{% load static i18n %}
{% block head %}
{{block.super}}
<link rel="stylesheet" href="/static/admin/css/base.css">

{% endblock %}
{% block content %}
{{block.super}}
<form class="login-form" id="login-form" method="post" action=".">
    <label for="key_name">Enter a name for your key:</label>
    <div class="flex-inputs-group">
        <input type="text" name="email" autofocus maxlength="155" required="" id="key_name">
        <input type="submit" onclick="djangoPasskey.beginReg()" value="{% trans 'Save' %}">
    </div>
 </form>
<form action="">

    <input type="text" value=""  >
</form>
{% endblock content %}
    