{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'passkeys/css/styles.css' %}">
{% endblock head %}
    
{% block endbodyscript %}
{{ block.super }}
<script>
    window.passkeysConfig = {
        crossPlatform: "{{request.session.passkey.cross_platform|default:0}}",
        enroll: "{{enroll}}",
        urls: {
            home: "{% url 'passkeys:home' %}",
            authBegin: "{% url 'passkeys:auth_begin' %}",
            regBegin: "{% url 'passkeys:reg_begin' %}",
            regComplete: "{% url 'passkeys:reg_complete' %}",
            delKey: "{% url 'passkeys:delKey' %}",
            toggle: "{% url 'passkeys:toggle' %}",
            login: {
                passkey: "{% url 'passkeys:login.passkey' %}",
                otp: "{% url 'passkeys:login.otp' %}",
            }
            
        },
    }
    let passwordInput = document.querySelector("#id_password");
    if (passwordInput) {
        passwordInput.required = false;
    }
    document.addEventListener("click", e => {
        let element = e.target;
        if (element.dataset.passkeyValue && element.dataset.passkeyValue) {
            e.preventDefault();
            let form = element.closest("form");
            form.querySelector("#id_password").required = false;
            form.querySelector("input[name='type']").value = element.dataset.passkeyValue;
            form.action = passkeysConfig.urls.login[element.dataset.passkeyValue];
            form.submit();
        }
    })
    
    
</script>
<script src="{% static 'passkeys/js/script.js'%}"></script>
{% endblock %}
{% block content %}
{{ block.super }}
{% endblock %}