{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'admin/css/login.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
<link rel="stylesheet" href="{% static 'passkeys/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/login.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
{% endblock head %}
    
{% block endbodyscript %}
{{ block.super }}
<script>
    window.passkeysConfig = {
        crossPlatform: "{{request.session.passkey.cross_platform|default:0}}",
        baseUrl: "{% url 'passkeys:home' %}"
    }
    let passwordInput = document.querySelector("#id_password");
    if (passwordInput) {
        passwordInput.required = false;
    }
    document.addEventListener("click", e => {
        let element = e.target;
        if (element.dataset.passkeyValue && element.dataset.passkeyValue) {
            e.preventDefault();
            let form = element.closest("form");
            form.querySelector("#id_password").required = false;
            form.querySelector("input[name='type']").value = element.dataset.passkeyValue;
            form.querySelectorAll("input[disabled]").forEach(i => {
                i.removeAttribute("disabled");
            })
            form.action = `${passkeysConfig.baseUrl}login/${element.dataset.passkeyValue}`;
            form.submit();
        }
    })
    
    
</script>
<script src="{% static 'passkeys/js/script.js'%}" type="module"></script>
{% endblock %}
{% block content %}
{{ block.super }}
{% endblock %}