{% extends "passkeys/base.html" %}
{% load i18n static %}

{% block headtitle %}{% trans "Login" %}{{block.super}}{% endblock headtitle %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static "admin/css/login.css" %}">
<link rel="stylesheet" href="{% static "admin/css/base.css" %}">
{% endblock head %}

{% block bodytag %}class="login"{% endblock bodytag %}
    
{% block content %}
<main>
<passkey-login
baseurl="{% url 'passkeys:home' %}",
csrf={{csrf_token}}
styleurls='{% static "passkeys/css/styles.css" %} {% static "admin/css/login.css" %} {% static "admin/css/base.css" %}'>
</passkey-login>
</main>
{% endblock %}
