{% extends "passkeys/base.html" %}
{% load static %}
{% block head %}
{{block.super}}
<link rel="stylesheet" href="/static/admin/css/base.css">

{% endblock %}
{% block content %}
{{block.super}}
<div id="content" class="colM">
    <div class="results">
        <ul class="object-tools">
            <li>
                <a href="{% url 'passkeys:add' %}" class="addlink">
                    Add Key
                </a>
            </li>
        </ul>
        <table id="result_list">
            <thead>
                <tr>
                    <th scope="col" class="column-email">
                        <div class="text">Name</div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-first_name">
                        <div class="text">Date added</div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-last_name">
                        <div class="text">Platform</div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-is_superuser">
                        <div class="text">Last used</div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-impersonate">
                        <div class="text">Status</div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-delete">
                        <div class="text">Delete</div>
                        <div class="clear"></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for key in keys %}
                    <tr>
                        <td class="field-name">
                            <a href="/en/admin/users/user/1/change/">{{ key.name }}</a>
                        </td>
                        <th class="field-email">{{ key.added_on }}</th>
                        <td class="field-platform">{{ key.platform }}</td>
                        <td class="field-last_used">{% if key.last_used %}{{ key.last_used }}{% else %}Never{% endif %}</td>
                        <td class="field-status"><input type="checkbox" id="toggle_{{ key.id }}" {% if key.enabled %}checked{% endif %} data-onstyle="success" data-offstyle="danger" onchange="toggleKey({{ key.id }})"
                                data-toggle="toggle" class="status_chk"></td>
                        <td class="field-delete">
                            <a href="javascript:void(0)" onclick="djangoPasskey.deleteKey({{ key.id }})"
                                class="deletelink">Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}